<%= render 'search_form' %>
<%=
  scatter_chart @cars,
    prefix: "€",
    height: "600px",
    min: @minprice,
    max: @maxprice,
    library: {
      xAxis: {
        type: 'datetime',
        dateTimeLabelFormats: {
            day: '%e of %b'
        },
      },
      tooltip: {
        useHTML: true,
        pointFormat: '<table>' +
          '<tr><td>prijs: </td><td>€{point.y}</td></tr>' +
          '<tr><td>bouwjaar: </td><td>{point.x:%Y-%m-%d}</td></tr>' +
          # '<tr><td>km: </td><td>{series.scatter.data}</td></tr>' +
          '</table>'
      },
      chart: {
        zoomType: 'xy',
        panning: true,
        panKey: 'shift'
      }
    }
 %>
 
 